<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="NUnit" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <plugins>
      <add name="Exten" type="Generator" path=".\lib"/>
    </plugins>
  </specFlow>
  <userConfig>
    <add key="TestsDirPath" value="C:\Bharat\Tests"/>
  </userConfig>
</configuration>